@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wazzup</h1>

    <div id="connection">
        <p>Mesajlaşmak için nick girin:</p>
        <input type="text" id="txtNickname" class="form-text" placeholder="Nick" />
        <a href="javascript:;" id="btnConnect" class="btn-primary">Bağlan</a>
    </div>
    <div id="chat" style="display:none">
        <input type="text" id="txtMessage" class="form-text" placeholder="Mesaj" />
        <a href="javascript:;" id="btnSend" class="btn-primary">Gönder</a>
        <h3>Mesajlar</h3>
        <div id="message-container">
        </div>
    </div>
</div>

<template>
    <label class="sender"></label>
    <label class="topright"></label>
    <p class="message"></p>
</template>

@section Styles{
    <style type="text/css">
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        let socket;

        function pickNickname() {
            var nickname = $("#txtNickname").val();
            if (nickname == null || nickname == "" || nickname.length == 0) {
                alert("Lütfen nick girin!");
                return false;
            }

            if (nickname.length < 3) {
                alert("Nick'iniz 3 karakterden az olamaz.");
                return false;
            }

            $.ajax({
                type: "POST",
                url: "https://localhost:44308/user/add",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    Nickname: nickname
                }),
                success: function (response) {
                    connect(response);
                },
                error: function (response) {
                    if (response.status == 401) {
                        alert("Lütfen başka bir nick seçiniz.");
                        return true;
                    }
                }
            });
        }

        function connect(id) {
            socket = new WebSocket("wss://localhost:44308/message?uid=" + id);
            socket.onopen = function (e) {
                $("#connection").hide();
                $("#chat").show();
            };
            socket.onclose = function (e) {
                $("#connection").show();
                $("#chat").hide();
                $("message-container").empty();
            };
            socket.onerror = function (e) {
                console.error(e.data);
                alert("Opps.. Bir şeyler ters gitti.");
            };
            socket.onmessage = function (e) {
                console.log(e.data);
                displayNewMessage(JSON.parse(e.data));
            };
        }

        function sendMessage() {
            var message = $("#txtMessage").val();
            if (message == "" && message == null) {
                alert("Message can't be empty!");
                return false;
            }
            else {
                socket.send(message);
                console.log('Message sent. Message: ' + message);
                return true;
            }
        }

        function displayNewMessage(data) {
            var defaultTemplate = document.getElementsByTagName("template")[0];
            var template = defaultTemplate.content.cloneNode(true);
            var _sender = $(template).find(".sender");
            var _message = $(template).find(".message");
            var _date = $(template).find(".topright");

            _sender.text(data.Sender.Nickname);
            _sender.css("color", "rgb(" + data.Sender.Color.R + ", " + data.Sender.Color.G + ", " + data.Sender.Color.B + ")");
            _message.text(data.Text);
            _date.text(data.Time);

            $("#message-container").append(template);
        }

        $(document).ready(function () {
            var btnConnect = $("#btnConnect");
            var btnSend = $("#btnSend");

            btnConnect.on("click", pickNickname);
            btnSend.on("click", sendMessage);
        });
    </script>
}