@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4" style="padding-top:2%">Wazzup</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-9">
            <div id="connection">
                <form>
                    <div class="form-group">
                        <label for="txtNickName">Mesajlaşmak için nick girin:</label>
                        <div class="input-group flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping">@@</span>
                            </div>
                            <input type="text" class="" id="txtNickname" placeholder="Nickname" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <button type="button" id="btnConnect" class="btn btn-primary btn-lg">Bağlan</button>
                </form>
            </div>
            <div id="chat" style="display:none">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Mesajınız</span>
                            </div>
                            <textarea id="txtMessage" onkeypress="onMessageKeyPress();" class="form-control" placeholder="Hadi bir şeyler yaz..." aria-label="With textarea" maxlength="250"></textarea>
                            <div class="input-group-append">
                                <button type="button" id="btnSend" class="btn btn-primary btn-lg">Gönder</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">

                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Chat</h3>
                    </div>
                </div>
                <div id="message-container"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center">
                <h6 class="">Chat listesi</h6>
            </div>
            <hr />
            <div class="text-right chat-list">
            </div>
        </div>
    </div>
</div>



<template>
    <div class="row message-parent">
        <div class="col-md-12">
            <div class="">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1 sender"></h6>
                    <small class="time"></small>
                </div>
                <p class="mb-2 message"></p>
            </div>
        </div>
    </div>
</template>

@section Styles{
    <style type="text/css">
        .topright {
            position: absolute;
            top: 8px;
            right: 16px;
            font-size: 18px;
        }

        .message-parent {
            border-style: groove;
            border-radius: 10px;
            padding: 1%;
            margin-top: 2%;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        let socket;

        function pickNickname() {
            var nickname = $("#txtNickname").val();
            if (nickname == null || nickname == "" || nickname.length == 0) {
                alert("Lütfen nick girin!");
                return false;
            }

            if (nickname.length < 3) {
                alert("Nick'iniz 3 karakterden az olamaz.");
                return false;
            }

            if (nickname.length > 20) {
                alert("Nick'iniz en fazla 50 karakter olabilir.");
                return false;
            }

            $.ajax({
                type: "POST",
                url: "https://localhost:44308/user/add",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    Nickname: nickname
                }),
                success: function (response) {
                    connect(response);
                },
                error: function (response) {
                    if (response.status == 401) {
                        alert("Lütfen başka bir nick seçiniz.");
                        return true;
                    }
                }
            });
        }

        function connect(id) {
            socket = new WebSocket("wss://localhost:44308/message?uid=" + id);
            socket.onopen = function (e) {
                $("#connection").hide();
                $("#chat").show();
            };
            socket.onclose = function (e) {
                $("#connection").show();
                $("#chat").hide();
                $("message-container").empty();
            };
            socket.onerror = function (e) {
                console.error(e.data);
                alert("Opps.. Bir şeyler ters gitti.");
            };
            socket.onmessage = function (e) {
                console.log(e.data);

                var incomingData = JSON.parse(e.data);

                var isDisplayMessage = incomingData.hasOwnProperty("Sender") && incomingData.hasOwnProperty("Text");
                var isChatList = incomingData.hasOwnProperty("ChatUsers")
                if (isDisplayMessage) {
                    displayNewMessage(incomingData);
                }
                else if (isChatList) {
                    displayChatList(incomingData);
                }
            };
        }

        function sendMessage() {
            var message = $("#txtMessage").val();
            if (message == "" && message == null) {
                alert("Message can't be empty!");
                return false;
            }
            else {
                socket.send(message);
                console.log('Message sent. Message: ' + message);
                return true;
            }
        }

        function displayNewMessage(data) {
            var defaultTemplate = document.getElementsByTagName("template")[0];
            var template = defaultTemplate.content.cloneNode(true);
            var _sender = $(template).find(".sender");
            var _message = $(template).find(".message");
            var _time = $(template).find(".time");

            _sender.text('@@' + data.Sender.Nickname);
            _sender.css("color", "rgb(" + data.Sender.Color.R + ", " + data.Sender.Color.G + ", " + data.Sender.Color.B + ")");
            _message.text(data.Text);
            _time.text(data.Time);

            $("#message-container").prepend(template);
            $("#txtMessage").val("");

            if ($(".message-parent").length > 20) {
                $(".message-parent").last().remove();
            }
        }

        function displayChatList(chat) {
            var chatList = $(".chat-list");
            chatList.empty();
            for (var i = 0; i < chat.ChatUsers.length; i++) {
                var chatUser = chat.ChatUsers[i];
                chatList.append("<p style='color:rgb(" + chatUser.Color.R + ", " + chatUser.Color.G + ", " + chatUser.Color.B + ")'>@@"+chatUser.NickName+"</p>");
            }
        }

        function onMessageKeyPress() {
            var key = window.event.keyCode;
            if (key === 13) {
                sendMessage();
            } 
        }

        $(document).ready(function () {
            var btnConnect = $("#btnConnect");
            var btnSend = $("#btnSend");

            btnConnect.on("click", pickNickname);
            btnSend.on("click", sendMessage);
        });
    </script>
}